@model Tuple<COMP2084_Project_200465920.Models.Media, IEnumerable<COMP2084_Project_200465920.Models.Review>>

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center mt-5">@Html.DisplayFor(tuple => tuple.Item1.Title)</h1>

<div class="row justify-content-center mb-5">
    <hr />
    <dl class="col-12 col-md-6">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(tuple => tuple.Item1.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(tuple => tuple.Item1.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(tuple => tuple.Item1.MediaType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(tuple => tuple.Item1.MediaType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(tuple => tuple.Item1.Season)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Item1.MediaType == "TV")
            {
                @Html.DisplayFor(tuple => tuple.Item1.Season)
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(tuple => tuple.Item1.Episode)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Item1.MediaType == "TV")
            {
                @Html.DisplayFor(tuple => tuple.Item1.Episode)
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(tuple => tuple.Item1.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(tuple => tuple.Item1.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(tuple => tuple.Item1.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(tuple => tuple.Item1.Genre.Name)
        </dd>
    </dl>
    <dl class="col-12 col-sm-3 mb-5">
        <dd class="col-sm-10">
            @if (Model.Item1.Poster != null)
            {
                <img src="~/photos//posters//@Model.Item1.Poster" alt="Media Poster" class="poster card-img-top" />
            }
            else
            {
                <img src="https://dummyimage.com/320x480" alt="Media Poster" />
            }
        </dd>
    </dl>
</div>
<div class="text-center">
    @if (User.Identity.IsAuthenticated)
    {
        <a asp-action="Edit" asp-route-id="@Model.Item1.MediaId">Edit</a>
    }
</div>
<h2 class="text-center mt-5">Add your review</h2>
<form method="post" class="row justify-content-center mb-5" action="/Reviews/AddReview">
    <div class="col-sm-7">
        <label for="Score" class="form-label"> Rating: </label>
        <input type="number" class="form-control" id="Score" name="Score" min="0" max="10" required>
    </div>
    <div class="col-sm-7">
        <label for="Text" class="form-label"> Write your review: </label>
        <textarea name="Text" class="form-control"></textarea><br />
    </div>
    <input type="hidden" name="MediaId" value="@Model.Item1.MediaId" />
    <button class="btn btn-primary col-sm-7">Add Review</button>
</form>

<h2 class="text-center mt-5">Users reviews</h2>
<section class="row card-group">
    @foreach (var review in Model.Item2)
    {
    <div class="col-sm-6 col-lg-4 mb-3">
        <div class="card mb-3 text-center h-100">
            <h5 class="card-header">Username: @Html.DisplayFor(modelreview => review.UserId)</h5>
            <div class="card-body">
                <p class="card-title"> Rating: @Html.DisplayFor(modelreview => review.Score)/10</p>
                <p class="card-text">Review: @Html.DisplayFor(modelreview => review.Text)</p>
            </div>
        </div>
    </div>
     }
</section>
