@model IEnumerable<COMP2084_Project_200465920.Models.Media>

@{
    ViewData["Title"] = "Media";
}

<h1>Medias</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table sortable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MediaType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Season)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Episode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th class="sorttable_nosort">
            </th>
            <th class="sorttable_nosort"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MediaType)
            </td>
            <td>
                @if (item.MediaType == "TV")
                {
                    @Html.DisplayFor(modelItem => item.Season)
                }
            </td>
            <td>
                @if (item.MediaType == "TV")
                {
                    @Html.DisplayFor(modelItem => item.Episode)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @if (item.Poster != null)
                {
                    <img src="~/photos/posters/@item.Poster" alt="Product Photo" class="thumb" />
                }
                else
                {
                    <img src="https://dummyimage.com/320x480" alt="media poster"  class="thumb"/>
                }

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MediaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MediaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MediaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
