@model COMP2084_Project_200465920.Models.WatchList

@{
    ViewData["Title"] = "Details";
}

<h1>Watchlist entry details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Watched)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Watched)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.WatchListId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
