@model IEnumerable<COMP2084_Project_200465920.Models.WatchList>

@{
    ViewData["Title"] = "Index";
}

<h1>Watchlist</h1>

<p>
    <a asp-action="Create">Create New entry</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Watched)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Watched)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.WatchListId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
