@model IEnumerable<COMP2084_Project_200465920.Models.WatchList>

@{ ViewData["Title"] = "Your WatchList";}

<h1>Your WatchList</h1>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <td>Title</td>
            <td></td>
            <td>Season/ Episode</td>
            <td>Watched</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var media in Model)
        {
            <tr>
                <td>
                    @media.Media.Title
                </td>
                <td>
                    @if (media.Media.Poster != null)
                    {
                        <img src="~/photos/posters/@media.Media.Poster" alt="Media poster" class="thumb" />
                    }
                    else
                    {
                        <img src="https://dummyimage.com/320x480" alt="Media poster" class="thumb" />
                    }
                </td>
                
                @if(media.Media.MediaType == "TV")
                 {
                 <td>
                    S: @media.Media.Season E: @media.Media.Episode
                 </td>   
                 }
                 else{
                    <td>--</td>
                 }
                <td>
                    @media.Watched
                </td>
                <td>

                    <a asp-controller="Medias" asp-action="Details" asp-route-id="@media.MediaId">Details</a> |
                    <a asp-controller="WatchLists" asp-action="RemoveFromWatchList" asp-route-id="@media.WatchListId"
                       onclick="return confirmDelete();">
                        Remove media
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>